In [1]:
import pandas as pd

In [2]:
obj = pd.Series([10, 20, 30, 40, 50])
obj

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
print("Values: " + str(obj.values))
print("Index: " + str(obj.index))

Values: [10 20 30 40 50]
Index: RangeIndex(start=0, stop=5, step=1)

In [9]:
obj2 = pd.Series([25, 18, 15, 10], index=["first", "second", "third", "fourth"])
obj2

first     25
second    18
third     15
fourth    10
dtype: int64

In [11]:
print("Values: " + str(obj2.values))
print("Index: " + str(obj2.index))
print(obj2['second'])
obj2['second'] = 19
obj2['second']

Values: [25 18 15 10]
Index: Index(['first', 'second', 'third', 'fourth'], dtype='object')
18

19

In [14]:
obj2[obj2 > 15]
'first' in obj2
'last' in obj2

False

In [15]:
data = {'Ohio':35000, 'Texas':71000, 'Oregon':16000}
obj3 = pd.Series(data)
obj3

Ohio      35000
Texas     71000
Oregon    16000
dtype: int64

In [17]:
states = ["California", "Texas", "Oregon"]
obj4 = pd.Series(data, index=states)
obj4

California        NaN
Texas         71000.0
Oregon        16000.0
dtype: float64

In [18]:
obj4.isnull()

California     True
Texas         False
Oregon        False
dtype: bool

In [19]:
obj3 + obj4

California         NaN
Ohio               NaN
Oregon         32000.0
Texas         142000.0
dtype: float64