In [26]:
import pandas as pd
import numpy as np

In [2]:
obj = pd.Series([388, 102, 194, 171, 184])
obj

0    388
1    102
2    194
3    171
4    184
dtype: int64

In [4]:
index = ["Bologna", "Piacenza", "Parma", "Reggio Emilia", "Modena"]
obj.index = index
obj

Bologna          388
Piacenza         102
Parma            194
Reggio Emilia    171
Modena           184
dtype: int64

In [5]:
emilianCities = {"Bologna":388, "Piacenza":102, "Parma":194, "Reggio Emilia":171, "Modena":184}
series = pd.Series(emilianCities)
series

Bologna          388
Piacenza         102
Parma            194
Reggio Emilia    171
Modena           184
dtype: int64

In [11]:
df = pd.DataFrame({"office":["A", "B", "C", "D"], "size":[35, 30, 25, 30]})
df["size"]

0    35
1    30
2    25
3    30
Name: size, dtype: int64

In [15]:
df.iloc[:1]
df[df["size"] > 25]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   office  4 non-null      object
 1   size    4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes

In [25]:
df1 = pd.DataFrame({"a": [1, 2, 3, 4, 5], "b":[6, 7, 8, 9, 10]})
print(df1)
df1.mean()
df1.mean(axis=1)
df1.describe()

   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

              a          b
count  5.000000   5.000000
mean   3.000000   8.000000
std    1.581139   1.581139
min    1.000000   6.000000
25%    2.000000   7.000000
50%    3.000000   8.000000
75%    4.000000   9.000000
max    5.000000  10.000000

In [24]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([6, 7, 8, 9, 10])
ser1.corr(ser2)
ser1.cov(ser2)

2.5

In [31]:
df = pd.DataFrame({"a": [1, 2, 3, np.nan, np.nan], "b":[np.nan, np.nan, 8, 9, 10]})
cleaned = df.dropna()
cleaned

     a    b
2  3.0  8.0